h1{
    color : #ffa511;
    text-align: center;
    text-decoration: double underline;
    letter-spacing: 2px;
    line-height: 1.5x;
    font-family: league spartan; 
    text-decoration: teal double underline; 
    text-transform: uppercase;

}
 