div {
    height:200px;
    width : 500px; 
     background-color: #5b6dcd;
    /*border-color: rgb(18, 29, 17);
    border-width: 5px;
    border-style: dotted; */
    border: 1px solid rgb(243, 216, 216);
    border-radius: 9px 100px;
    padding-left: 20px;
    padding-right: 45px ;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
}

h1 {
    /* border-style: dashed;
    border-color: blanchedalmond;
    border-width: 2px; */
    width: 260px;
    border: 1px solid rgb(27, 41, 41);
    border-radius: 5px 25px;
    background-color: bisque;
    padding: 3px 10px ;
    margin-left: 190px;

    
}
button{
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 20px;  
    margin-left: 280px;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover {
    
    color: blue ;
    border-color: rgb(100, 100, 188);
}