#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
    margin-left: 650px;
    margin-top: 220px;
}
#inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}